/* Osnovni stil za telo stranice */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Stil za navigaciju */
.navbar {
    background-color: #27352A;
    box-shadow: 0px 4px 8px rgba(3, 58, 15, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F7F8F7;
    
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #F7F8F7;
}

.navbar-nav .nav-link:hover {
    color: #D1D1D1 !important; /* Svjetlija siva boja pri hoveru */
}


.navbar .navbar-brand:hover {
    color: #F7F8F7; /* Održava boju 'Brend' na hover */
}

/* Aktivni link na stranici (npr. "Proizvodi") */
.navbar .nav-link.active {
    color: #F7F8F7 !important; /* Održava boju kao kod drugih linkova */
    background-color: transparent !important; /* Uklanja pozadinsku boju */
}

/* Hover za aktivni link (onaj na kojem ste trenutno) */
.navbar .nav-link.active:hover {
    color: #D1D1D1 !important; /* Svjetlija siva boja pri hoveru */
    background-color: transparent !important; /* Održava prozirnu pozadinsku boju */
}

/*Mijenja boja burgera*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");


}

.navbar-toggler{
    border: 1px solid white;
}






/* Stil za galeriju proizvoda */
.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    color: #666;
}

.btn-outline-primary {
    color: #27352A; /*  boja za tekst */
    border-color: #27352A; /*  boja za obod */
}

.btn-outline-primary:hover {
    background-color: #27352A; 
    color: #f8f9fa; /*  boja za tekst pri hoveru */
    border-color: #27352A; /*  boja za obod pri hoveru */
}
.btn-outline-primary:active {
    background-color: #ffffff !important; /*Kada se stisne i drzi*/
    color: #27352A !important;
    border-color: #27352A !important;
}




/* Footer stil */
footer {
    background-color: #f8f9fa;
}

footer h5 {
    font-weight: bold;
    color: #333;
}

footer a {
    color: #555;
    text-decoration: none;
}

footer a:hover {
    color: #27352A;
}

.footer .text-white {
    background-color: #333;
}


/*Carousel*/

 .carousel-item {
        height: 500px; /* Prilagodite visinu */
    }

.carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


/*filteri*/
.form-select {
    margin-bottom: 15px;
    border: 1px solid #27352A;
    border-radius: 5px;
}

label {
    font-weight: bold;
    color: #333;
}
