body {
    background-color: #f0f2f5;
}

.container {
    max-width: 500px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form p a {
    color: #007bff;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
   
}
input.form-control:focus {
    border-color: #27352A; 
    box-shadow: 0 0 8px rgba(6, 174, 9, 0.329); 
}


